
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&display=swap');

body{
  overflow-x: hidden;
  background:white;
  font-family: 'Montserrat', sans-serif;
    }
    

.top-bar{
  background:purple;
  height: 2rem;
  padding: .5rem 0;
  }

.top-bar a{
  color:whitesmoke;
  text-decoration:none;
  font-size: .9rem;
}

.navbar-brand img{
  height: 12rem;
}

.navbar{
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 .5rem .5rem rgb(129,5,102,.1);
  position:relative;
  z-index: 1;
}

.nav-item{
  padding: 1rem;
  }

  .nav-link{
    color: teal!important;
  }

  .nav-link .active, 
  .nav-link:hover{
    color: purple !important;
  }

carousel-control-next,
carousel-control-prev,
carousel-item-active{
 transition: transform 1.2s ease;
}

.carousel-inner{
  max-height:38rem!important;
  padding-top: .2rem;
  padding-left: .1rem;
}

.carousel-inner .carousel-item{
  opacity: 1;
  visibility:visible;
  margin-top: .2em;
  position: relative;
}

.carousel-inner .carousel-item:before{
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(0, 0, 0, .2);
  position:absolute;
  content:"";
}

.carousel-caption{
  position: absolute;
  top: 44%;
  transform:translateY(-50%);
  text-align: center;
}

.carousel-caption h1{
font-family: 'Sacramento', cursive;
letter-spacing: 1;
font-weight: 600!important;
font-size: 3.5rem;
text-shadow: .1rem .1rem .1rem purple;
color:white;
}

.carousel-caption h3{
  color:white;
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .1rem gray;
  padding-bottom: 2rem;
  padding-left: 5rem;
  }

  .btn-lg{
    border-radius: 1;
    border-width: 2px;
    color:white;
    background-color:#993399;
    border:solid #993399;
    padding: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }
  

@media (max-width: 991px){
  .carousel-caption h1{
    font-size: 40px;
  }
}
  
/*accordian part */
.section{
  padding:7em 0em;
}

.accordion-item {
  font-size: 15px;
  border: 1px solid teal;
}

.accordion-item h2 button{
  display: block;
  text-align: left;
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  -webkit-box-shadow: 0 2px 10rem -2px rgba(129,5,102,.1)!important;
  box-shadow: 0 3rem 10rem -2px rgba(129,5,102,.1)!important;
  border-radius: 0;
}

.accordion-item h2 button .fa{
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: .3 all ease;
  -o-transition: .3 all ease;
  transition: .3 all ease;
}
.accordion-item h2 button:hover{
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10rem -2px rgba(129,5,102,.3)!important;
  box-shadow: 0 3rem 10rem -2px rgba(129,5,102,.3)!important;
}

.accordion-item h2 .accordion-button collapsed{
  color: black;
}

.accordion-item h2 .accordion-button collapsed .fa{
  right: 20px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform:translateY(-50%);
}
.accordion-item .accordion-body{
  padding:20px;
}
.accordion-button:not(.collapse){
  color:teal;
  background: white;
}
